{% load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<h1 style="color: white;">Sorting Visualizer</h1>

<div class="list-container rounded" style="text-align: center; display: flex; margin: 0 auto; justify-content: center; background-color: white; transform: rotate(180deg); transform: scaleY(-1);">
    {% for i in list %}
<div class="list-bars" style="height:{{ i }}px; background-color: #EF476F; width: 10px; margin: 1.5px; margin-top: 0px; border-radius: 0px 0px 3px 3px;" ></div>
    {% endfor %}
</div>

<script>
const TIME = 5;
const PRIMARY_COLOR = '#EF476F';
const SECONDARY_COLOR = '#6df276';

$.ajax({
    type: "POST",
    url: '{{ '/displayQuicksort/' }}',
    data: { csrfmiddlewaretoken: '{{ csrf_token }}'},
    success: function callback(animations){
        var list = JSON.parse(animations);

        for (let i = 0; i < list.length - 1; i++) {
            const isColorChange = (i % 6 === 0) || (i % 6 === 1);
            const listBars = document.getElementsByClassName('list-bars');
            if (isColorChange === true) {
                const color = (i % 6 === 0) ? SECONDARY_COLOR : PRIMARY_COLOR;
                const [barOneIndex, barTwoIndex] = list[i];
                if(barOneIndex === -1) {
                    continue;
                }
                const barOneStyle = listBars[barOneIndex].style;
                const barTwoStyle = listBars[barTwoIndex].style;
                setTimeout(() => {
                    barOneStyle.backgroundColor = color;
                    barTwoStyle.backgroundColor = color;
                },i * TIME);
            }
            else {
                const [barIndex, newHeight] = list[i];
                if (barIndex === -1) {
                    continue;
            }
            const barStyle = listBars[barIndex].style;
            setTimeout(() => {
                barStyle.height = `${newHeight}px`;
            },i * TIME);
            }
            }
        }
    });
</script>